@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
body {
    box-sizing: border-box;
    margin: 0;
	padding: 0;
	border: 0;
    background-color: rgb(208, 204, 204);
}
h1, h3 {
    font-family: 'Sansita Swashed', cursive;
}
.nav link {
   padding: 25px; 
}
.row a {
    padding: 15px;
    padding-top: 30px;
}

p {
    font-size: 1em;
}
address {
    color: rgb(7, 136, 249);
}

footer {
    padding-top: 50px;
    text-align: center;
}












/*  Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {

}

/* Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 767.98px) {

}

/*  Medium devices (tablets, less than 992px) */
@media screen and (max-width: 991.98px) {

}

/*  Large devices (desktops, less than 1200px) */
@media screen and (max-width: 1199.98px) {

}
