* {
    margin: 0;
    padding: 0; 
}
body {
    box-sizing: border-box;
	border: 0;
    background-color: rgb(17, 17, 20);
}
h1, h3 {
    font-family: 'Sansita Swashed', cursive;
}
.flip-box {
    background-color: transparent;
    width: 1000px;
    height: 1000px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; 
    display: flex;
    justify-content: center;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    vertical-align: middle;
    position: relative;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
    }
    .flip-box-front, .flip-box-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
}
.flip-box-front {
    background-color: #bbb;
    color: black;
    width: 700px;
    height: 700px;
    margin: 0 auto;
}


.flip-box-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    font-size: 20px;
}

.nav link {
    padding: 25px; 
}


.row a {
    padding: 15px;
    padding-top: 30px;
}

p {
    font-size: 1em;
}
h3 {
    margin-top:70px;  
}
address {
    color: rgb(7, 136, 249);
}
.contact-form {
    margin-top:70px;
}
.footer {
    color: white;
    text-align: center;
}
footer { 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}












/*  Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {

}

/* Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 767.98px) {

}

/*  Medium devices (tablets, less than 992px) */
@media screen and (max-width: 991.98px) {

}

/*  Large devices (desktops, less than 1200px) */
@media screen and (max-width: 1199.98px) {

}
